# -----------------------------------------------------------------------------
#
# -----------------------------------------------------------------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: default
      permalink: /posts/:title/
