<!doctype html>
<html>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
  <link rel="stylesheet" href="{{ 'assets/css/syntax1.css' | relative_url }}">
  <style>
    .w3-container::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
    .w3-container::-webkit-scrollbar-thumb {
      background-color: #455A64;
    }
    .w3-container::-webkit-scrollbar-track {
      background-color: #38444f;
    }
  </style>
  <body bgcolor="#1c1c1c">>
    {% include menu.html %}
    <div class="w3-container w3-card-4 w3-2021-inkwell post" style="max-width: 100%; max-height: 100%; overflow: auto;">
      {{ content }}
    </div>
  </body>
</html>
